<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>URL Shortener</title>
    <link href="css/screen.css" rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
<section>
    <h1>url shortener</h1>
</section>

<section>
    <form id="url_form" method="post" action="#">
        <input autofocus id="url_input" name="url" required="required" placeholder="type long url here"/>
        <input id="submit" type="submit" value="shorten url"/>
    </form>
</section>

<section>
    <div id="shortened_url"></div>
</section>

<script src="js/main.js"></script>
</body>
</html>

